.container{
    display: flex;
}
.left{
    width: 48%;
    padding-right: 2%;
}
.right{
    width: 48%;
}
.left img{
    width : 250px;
    hight : 250px;
}
.left h2{
    border: 1px solid blue ;
    background-color: blue;
    text-align:center;
    color: white;


}

